<h1><span>Create a New Style</span></h1>
<div class="data-form">
    <form class="form-create" action="/style/create" method="POST" encType="multipart/form-data">
        <label for="inputTitle">Title</label>
        <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
        <label for="inputDescription">Description</label>
        <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description" autofocus>
        <label for="inputPicture">Picture</label>
        <input type="file" name="picture">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Style</button>
    </form>
</div>