<h1>Dogs</h1>
<h3>Men aren't the only ones with hair on their faces</h3>
<img src="<%= data.message %>" alt="some dog image">
<p>Here is an API that I'm using found at https://dog.ceo/api/breeds/image/random.</p>
<p>
    This API call that I'm doing here pulls a random picture of a dog. I decided
    to include this because dogs also have hair on their face,<br> and this is a website
    about different styles of facial hair. Maybe people can find inspiration to 
    grow a great mustache from these dog pictures.
</p>