<h1><span>Create a New Style</span></h1>
<div class="data-form">
    <form action="/user/login" method="POST">
        <label for="inputEmail">Email Address</label>
        <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email Address" required>
        <label for="inputPassowrd">Password</label>
        <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <br>
    <h3>New User?</h3>
    <a href="/user/new">Create Account</a>
</div>